
/* debug */

.debug .card{
    background-color: lightcoral;
    border: 2px solid green;
    /* height: 100px; */
}

.debug .about .col-12,
.debug .about .col--md-6{
    background-color: lightcoral;
    border: 2px solid rgb(77, 0, 128);
}



.navbar .container-lg .navbar-collapse{
    flex-grow: 0;

}

/* .img{
    width: 100px;
} */

.jumbotron img{
    width: 200px;
}
hr{
    width: 50px;
    border-radius: 50px;
    height: 4px;
    opacity: 1;
}