
/* debug */

.debug .card{
    background-color: lightcoral;
    border: 2px solid green;
    height: 100px;
}





.navbar .container-lg .navbar-collapse{
    flex-grow: 0;

}

/* .img{
    width: 100px;
} */

.jumbotron img{
    width: 200px;
}